/* {
   -fx-text-fill: black; 
   -fx-font-family: 'Inter';
} */

/*Regular button - Kim*/
.button {  
   -fx-text-align: center;
   -fx-font-size: 12pt;
   
   -fx-background-color: rgba(249, 164, 164, 0.6);
   -fx-background-radius: 15px;
    
   -fx-border-radius: 15px;
   -fx-border-width: 1px;
   -fx-border-color: #000000;
  }
 
 
  /* Ngoc */
.bigBtn {  
    -fx-background-color: blue;
    -fx-border-radius: 20px;
 }