

/*Regular button - Kim*/
 .button {  
  -fx-text-align: center;
  -fx-font-size: 12pt;
  
  -fx-background-color: rgba(249, 164, 164, 0.6);
  -fx-background-radius: 15px;
   
  -fx-border-radius: 15px;
  -fx-border-width: 1px;
  -fx-border-color: #000000;
 }

 /* Big button - Ngoc */
 .bigBtn {  
   -fx-font-size: 32px;

   -fx-text-align: center;

   -fx-background-color: rgba(249, 164, 164, 1);
   -fx-background-radius: 20px;
   -fx-background-size: 350px 65px;
}

 